# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Entorno Docker y DB Producción
.env
!.env.example
docker-compose.override.yml

# SO Mac
.DS_Store

# Editor de texto / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?